 body{
	padding: 0;
	margin: 0;
	background-color:#000; 
	background-image:url("../img/BlackFon.png");
	
}
 header{ 
	font-family: 'Pacifico',cursive;
	background-color: transparent;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.507);
	color:rgb(255, 255, 255);
	text-decoration:none;
	display: flex;
	

}

header .logo{
	font-size: 300%;
	display: inline;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

header a:hover{
	color:rgb(226, 183, 64) ;
}

header li{
	display: inline-block;
} 

.menu li{
	list-style: none;
	position: relative;
}
.menu a{
	text-decoration: none;
}
.menu{
	display: flex;
}
.menu_link{
	color: #ffffff;
}

.menu>li{
	padding-inline: 30px;
	margin: 0 10px ;
}
.menu>li:hover .sub_menu{
	display: block;
	visibility: visible;
	transform: translateY(0);
	opacity: 1;
}

.sub_menu{
	visibility: hidden;
	opacity: 0;
	transform: translateY(-10px);
	transition: all .3s ease;
	padding:0;
	position: absolute;
	left: 0;
	top: 40;
}
.sub_menu>li{
	background-color: #ffffff;
	min-width:160px;
}
.sub_menu_link{
	display: inline-block;
	padding: 5px 10px;
	color: #000000;
}
